* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 30em;
    height: 100vh;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    z-index: 2;
    font-size: 12px;
    background: #4285f4;
    color: white;
}

.sidebar>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3.1rem;
}

input,
select,
.inputImageBtn {
    width: 100%;
}

.img-input,
.text-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputImageBtn,
textarea {
    width: 80%;
}

textarea {
    resize: none;
}

i {
    cursor: pointer;
}

.fa-expand:hover {
    color: black;
}

.sidebar .radio-red {
    background-color: #c0392b;
}

.sidebar .radio-orange {
    background-color: #e67e22;
}

.sidebar .radio-yellow {
    background-color: #f1c40f;
}

.sidebar .radio-green {
    background-color: #2ecc71;
}

.sidebar .radio-blue {
    background-color: #2980b9;
}

.sidebar .radio-purple {
    background-color: #8e44ad;
}

.sidebar .radio-pink {
    background-color: #ff0080;
}

.sidebar .radio-black {
    background-color: #000000;
}

.sidebar .radio-white {
    background-color: #ffffff;
}

.sidebar .input-radio {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px #444 solid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    cursor: pointer;
    appearance: none;
}

.sidebar .radio-none {
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 45%,
            rgba(246, 41, 12, 1) 45%,
            rgba(240, 41, 12, 1) 55%, rgba(255, 255, 255, 1) 55%,
            rgba(255, 255, 255, 1) 100%);
    border-color: rgba(255, 41, 12, 1) !important;
    border-width: 3px !important;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #424242;
    flex: 1;
}

.canvas {
    position: absolute;
    border: 1px solid #d2d2d2;
}

.canvas-overlay {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
}

.canvas-buffer {
    z-index: 2;
}

.aspect-ratio select,
.text-area textarea,
.text-font select,
.bg-image .inputImageBtn {
    outline: none;
    padding: 8px 30px;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    background: #689EF6;
    border: none;
    color: white;
}

.bg-overlay .radios {
    margin-top: 5px;
}

.inputImageBtn {
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.download-img button {
    padding: 0 .9375rem;
    line-height: 40px;
    color: #333;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 60%);
    cursor: pointer;
}

.download-img button:hover {
    color: #555;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}